.btn-group.btn-group-justified
	= link_to "Inbox", inbox_path, class: "btn btn-inverse"
	= link_to "Sentbox", sentbox_path, class: "btn btn-inverse"
	= link_to "Trash", trash_path, class: "btn btn-inverse"